# Maven build folder
target/

# Compiled Java files
*.class

# Logs
*.log

# VS Code settings
.vscode/

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
